<div class="well">
    <h2>{{ post.title }}</h2>
    <p>Posted at {{ post.createdAt|date }} by <strong>{{ post.authorName }}</strong>.</p>
    <p>{{ post.content }}</p>
    <hr />
    <a href="{{ path('sandbox_blogger_post_show', {'slug': post.slug}) }}" class="btn span3">read</a>
</div>
